nav .my-nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
     line-height:24px ;
     color: white !important;
     margin:10px;
     text-transform: uppercase;


}
nav .act,
nav .act:hover{
    color:white !important;
    background-color: #1ABC9C;
    border-radius: 10px;
}
nav .logo{
 font-size: 32px;
 font-weight: 700;
 line-height: 48px;
}
nav{
    background-color: #2C3E50;
    
}

